* {
    box-sizing: border-box !important;
}

body {
    background-color: #0a1121 !important;
}

.nav-item {
    margin: 0 4px;
}
.container {
    margin-bottom: 0 !important;
}

#section-one-container {
    height: 100%;
    position: relative;
    background-image: url('../assets/grids.svg');
    background-size: contain;
}

#section-two-container {
    height: 100%;
    position: relative;
    background-color: #0e172c;
}




