* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a1121 !important;
}

.nav-item {
    margin: 0 4px;
}
.container {
    margin-bottom: 0 !important;
}

#section-one-container, #section-three-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url('../assets/grids.svg');
    background-size: contain;
}

#section-two-container {
    height: 100%;
    position: relative;
    background-color: #0e172c;
}
#project-card {
    transition: transform 500ms;
}
#project-card:hover {
    transform: scale(0.96);
}

.modal {
    backdrop-filter: blur(8px) grayscale(50%) !important;
}

.btnScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 80px;
    width: 80px;
    border: none;
    z-index: 99;
    display: none;
  }





